body {
	background-image: url("../images/background2.jpg");
	color: lightblue;
	background-size: 100%;

}

/*#search,h1{
	color:black;
}*/

 .gif {
 	margin: 10px;
 }

 .row {
 	margin: 25px;
 }

 .giphys {
 	height: 200px;
 	width: 200px;
 	margin: 10px;
 }